 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
	color:#595959;
	font-family: 'Titillium Web', sans-serif;
  }

html {
font-family: 'Titillium Web', sans-serif;
}
input {
	font-weight: 400;
	letter-spacing: 1px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.width85 {
	width: 85%!important;
}

a

{
outline: none;
}
.l5ths {
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col.s5ths {
  width: 20%;
}
@media only screen and (min-width: 993px) {
  .row .col .l5ths {
    width: 20%;
  }
}

.center

{

display: flex;

justify-content: center;

align-items: center;
}

input::placeholder {
	  color: red;

}
/* Header */

header
{
	background-color:transparent;
	position: absolute;
	top: 45px;
	z-index: 5;
	width: 100%;
	font-family: 'Oleo Script', cursive!important;
}

.btn:hover, .btn-large:hover {
background-color: transparent;
}

.btn:focus, .btn-large:focus, .btn-floating:focus
{
	background-color: transparent;
}

.modal
{
	max-height: 90%;
	top:5%!important;
}

.activoup
{

	color: #2F3BA2!important;
}

.activoup a
{
	color: #595959!important;
}

.active

{

color:#711817 !important;
}

.activo
{
	color: #711817!important;
	}

.buscador
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.buscador button
{
	border: none!important;
	background-color: white;
	/* margin-bottom: 10px; */
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header

{background-color: transparent;/* width: 97%; *//* height: 96px; *//* float: right; */}

.header ul

{
    width: 35rem;
    display:  flex;
    align-items:  center;
    justify-content: space-around;
    /* float: right; */
    height: 35px;
    background-color: #CB6532;
}


.header a
{
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.2;
	padding-bottom: 10px;
	padding-top: 10px;
	letter-spacing: 2px;
}

.header li
{
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border-bottom: 3px solid #FFF; */
}
.naranja-text {
	color: #CB6532 !important;
}

.header .brand-logo
{
	border-bottom: 0;
	max-height: 125px;
	/* margin-top: 5px; */
}

.header .brand-logo:hover
{
	border-bottom: 0;
}

.header .container

{width: 85%;}


.header a:hover

{background-color: inherit;color: #711817;}


nav .brand-logo

{/* padding: 15px; */}

.centrado

{display: flex;align-items: center;justify-content: center;}

/* Footer */



footer

{background-color: #894356;}



footer .container

{

	width: 90%;

}

footer .container>.row

{

margin-bottom: 0;

padding: 45px 0 8px;
}

footer i
{
	margin-right: 10px;
}

footer a

{

	color:#DDDDDD;

	font-size: 1.1rem;

}

footer a:hover
{
	color:#FF9865 !important;
}

footer h6

{

	margin-bottom: 20px;

}



.sitemap

{line-height: 0.7;/* font-weight: lighter; */margin-top:0;color: #FFF;display: initial;justify-content: space-between;align-items: center;}



.sitemap li

{

margin-bottom: 20px;

font-family: 'Raleway', sans-serif;
}

.sitemap a
{
	color:#DDD;
	display: flex;
}


.social

{

	margin-right: 20px;

}

.fw5 {
	font-weight: 500;
}
.fw6 {
	font-weight: 600;
}

.linea{width: 100%;height: 2px;background-color: #FFF;}

.linea-verde{width: 100%; height: 2px; background-color: #009687;}

.linea-azul{width: 40%; height: 2px; background-color: #009ADE;}

.busqueda

{

    background-color: #FFF;
	border: 1px solid #DDD;
}



.busqueda .input-field label

{

	top: -23%;

}

#busqueda::placeholder
{
	color:#009ADE;
	font-size: 20px;
	font-weight:400;
}

.banner
{
	position: relative;
}

.banner img
{
	width:100%;	
}

.banner .texto
{
	position: absolute;
	bottom: 15%;
	left: 15%;
}

.destacado-img{
	bottom: 2rem; 
	font-size:1.5rem; 
	text-shadow: 2px 2px 2px black; 
	left:4rem; 
	letter-spacing: 2px;
}

@media only screen and (max-width: 600px) 

{

    .slider .slides li .caption 

    {

	width: 90%;

	left: 5%;

	}



    .caption h2

    {

		font-size: 24px; 

    }

    .caption h4

    {

		font-size: 42px;

    }

}



@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) 

{

    .slider .slides li .caption 

    {

	width: 60%;

	left: 20%;

	}



    .caption h2

    {

		font-size: 24px; 

    }

    .caption h4

    {

		font-size: 42px;

    }	

    .absolute
    {
    	position: absolute;
    }


}
   /*Banners*/

.banner
{
	background-color: #ECECEC;
	width: 100%;
	height: 100px;
}
#destacated .row .col {
	padding:0.4rem;
}
.banner .titulo
{
	color: #0059B2;
	/* letter-spacing: 4px; */
	bottom: 20%;
}

input.busqueda
{
	border-bottom: none!important;
	margin-bottom: 0; 
	width: 150px!important;
}

.efecto
    {
    position: absolute;
    opacity: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    }    

.efecto:hover
    {
    opacity: 1;
    transition: 1s;
    }

.central
    {
    display: inline-block;
    position: absolute;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    line-height:0;
    bottom: 5%;
    left: 3%;
    z-index: 4;
    }

.boton
{
	height: 35px!important;
	width: 131px!important;
	padding: 0;
	border-radius: 20px;
	background-color: transparent;
	border: 1px solid #DDD;
	font-weight: 400;
	letter-spacing: 1px;
}

div p:first-child
{
	margin-top: 0;
}

div p:last-child
{
	margin-bottom: 0;
}

strong
{
	font-weight: 600;
}

/* Sliders */
.slider
{
    height: 400px!important;
}
.slider img
{
    /* max-height: 400px!important; */
}

.slider .indicators

{
z-index: 9;
bottom: 12px;
}


.slider .indicators .indicator-item.active

{background-color: #FFF;opacity: 0.8;width: 10px;height: 10px;}


.caption

{left: 10%!important;top: 20%!important;width: 45%!important;}


 .slider .slides li .caption {
    position: absolute;
    /* height: 50%; */
    width: 45%!important;
    z-index: 5;
    top: 50%!important;
    left: 50%!important;
    transform: translateX(-50%)!important;
    line-height: 1.2
    /* padding: 0 2rem; */;
    color: #FF9865;
    }

@media only screen and (max-width: 810px) 

{
    .slider .slides li .caption
    {
        width: 90%!important;
        top: 46%!important;
    }

    main.home .fs28

    {
        font-size: 19px!important;
    }

    main.home .fs68

    {
        font-size: 42px!important;
    }  
}

@media (min-width: 811px) and (max-width: 1024px) and (orientation: landscape) 

{

    .slider .slides li .caption 

    {

    width: 80%!important;
    left: 20%;

    }
    
    main.home div .fs28

    {
        font-size: 26px!important;
    }

    main.home .fs68

    {
        font-size: 55px!important;
    }   

}
