body

{

	background-color: #894356;

}



.login .btn a

{

	background-color: #894356;

}



.login .container

{

	background-color: #FFF;

	margin-top: 100px;

	width: 40%;

	padding: 20px;

}



.login .container img

{

display:block;
margin: 10px auto;
}

