.picker__date-display
{
    background-color: #894356!important;
}

.picker__close, .picker__today
{
    color: #894356!important;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected
{
    background-color: #894356!important;
    color: white;
}

.picker__day.picker__day--today
{
    color: #FF9865!important;
}

.picker__nav--prev:hover, .picker__nav--next:hover
{
	background-color: #FF9865;
}

main.reserva input::placeholder
{
	color: #8A8A8A;
	font-weight: bold;
}